.signin{
    
    margin-left: auto;
    padding-right: 4px;
    
    margin-right: 10px;
    color:rgb(202, 197, 197);   
    font-size: 20px;
}
.signin a{
    color: rgb(202, 197, 197);
    text-decoration: none;

}
.signin a:hover{
    color: white;
}

.home{
    /* margin-left: 20px; */
    color: rgb(202, 197, 197);
}
.home:hover{
    color: white;
}

.fa span.i{
    color: red;
}