.ptext{
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: center;
	/* line-height: 32px; */
    letter-spacing: 6px;
}

.ptext {
	padding-top:10%;
	color: #f0f0f0;
}

.ptext h1 span{
	/* color:rgb(238, 235, 70); */
	color:orange;
}

.section-btn {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 22px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    text-align: center;
}

a {
    transition: ease-in-out 0.3s;
    text-decoration: none !important;
}
.btn:hover{
    background: orange;
    border-color: white;
	color:white;
}



.background{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),black), url("/assets/images/cam3.jpg");
    /* background-image:linear-gradient(rgba(150, 59, 123, 0.3),black), url("/assets/images/cam2.jpg"); */
    /* background-image:linear-gradient(rgba(0,0, 0, 0.6),black), url("/assets/images/camera.jpg"); */

    min-height: 100%;
    background-size: cover;   
    background-repeat: no-repeat;
    height: 100vh;
}