.ptext {
    position: relative;
    top: 350px;
    width: 500px;
    /* color: #000; */
    float: left;
    margin-left: 5em;
    margin-top: -6em;
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext a {
    text-decoration: none;
}

.ptext .join {
    width: 50%;
}

.ptext .border {
    border-radius: 4px;
    color: white;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}
