.ptext{
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: center;
	line-height: 32px;
    letter-spacing: 6px;
}

.ptext h3{
	margin-top:10%;
	color: #f0f0f0;
}

.ptext h1 span{
	/* color:rgb(238, 235, 70); */
	color:orange;
}

.section-btn {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 22px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    text-align: center;
}

a {
    transition: ease-in-out 0.3s;
    text-decoration: none !important;
}
.btn:hover{
    background: orange;
    border-color: white;
	color:white;
}
