/* You can add global styles to this file, and also import other style files */

/* body{
   
    background-image:linear-gradient(rgba(150, 59, 123, 0.3),black), url("./assets/images/camera.jpg");

    min-height: 100%;
    background-size: cover;   
    background-repeat: no-repeat;
    height: 100vh;
} */

