.homecomp {
    color: white;
    text-align: center;
}
.my{
    color:white;
   margin-left: 450px;
}
.card{
    margin-top:30px;
}
table{
    width: 1135px;
}
.input-group-lg{
    padding-top: 15px;
}